extends ../layout/admin

block content

  h1 Proposals

  table.table
    thead
      tr
        th State
        th Topic
        th Person Name
        th Person Email
        th Twitter Url
        th Github Url
        th Blog Url
        th City
        th Country
        th Actions
    tbody
      - each proposal in proposals
        tr
          td
          - if(!proposal.active)
            .label.label-danger Removed
          td= proposal.topic
          td= proposal.name
          td= proposal.email
          td= proposal.twitterUrl
          td= proposal.githubUrl
          td= proposal.blogUrl
          td= proposal.city
          td= proposal.country
          td
            a(href='/admin/proposals/' + proposal._id).btn.btn-info View
            &nbsp;
            a(href='/admin/proposals/' + proposal._id + '/delete').btn.btn-danger Delete